.DS_Store

build/*
!build/.gitinclude
!build/job.sh

output/*
!output/.gitinclude

poisson/*

# Exclude all png images
*.png

# Temporary test files excluded
src/Matrix.cpp

FastPoisson.cpp
FastPoisson.hpp
